.boletos-card-root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--padding-default);
  box-sizing: border-box;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
}

.boletos-header .titulo {
  font-family: var(--font-subtitle);
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-subtitle);
  color: var(--primary-color);
  text-align: center;
}

.boletos-lista {
  list-style: none;
  margin: var(--margin-default) 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
  flex: 1; 
}

.boleto-item {
  padding: var(--padding-default);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: var(--font-body);
  font-size: var(--font-size-body);
  box-shadow: var(--box-shadow-default);
}

.boleto-info {
  display: flex;
  justify-content: space-between;
  font-weight: var(--font-weight-subtitle);
  color: var(--text-color);
}

.status {
  font-size: 12px;
  color: #666;
  text-align: right;
  font-family: var(--font-body);
  font-size: var(--font-size-body);
}

.valor {
  font-weight: bold;
  font-size: var(--font-size-body);
  color: var(--text-color);
}

.ver-todas {
  margin-top: 8px;
  padding: var(--padding-default);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-subtitle);
  color: var(--primary-color);
}

/* Status visuais */

.boleto-item.vencido,
.boleto-item.vermelho {
  background-color: #fcd4d4;
}

.boleto-item.laranja {
  background-color: #ffe7c2;
}

.boleto-item.amarelo {
  background-color: #fff6c2;
}

.boleto-item.verde {
  background-color: #d4fcd9;
}

.boleto-item.branco {
  background-color: #f0f0f0;
}
