.botao-filtro {
    padding: 10px 16px;
    border: none;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    font-family: var(--font-subtitle);
    font-weight: var(--font-weight-subtitle);
    font-size: 14px;
    color: var(--primary-color);
  }
  