.sidebar {
  width: 5rem; /* 80px */
  height: 100vh;
  background-color: var(--white-color);
  border-right: 1px solid var(--table-border);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 0; /* 20px 0 */
  box-sizing: border-box;
  position: fixed;
}

.top,
.menu,
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem; /* 24px */
}

.logo {
  fill: var(--primary-color);
  width: 2rem; /* 32px */
  height: 2rem;
  transition: var(--transition-default);
}

.logo:hover {
  fill: #90A4AE;
}

.menu button,
.bottom button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu button:hover,
.bottom button:hover {
  opacity: 0.7;
}

.sidebar-icons {
  fill: var(--primary-color);
  width: 2rem;
  margin: 1.25rem; /* 20px */
  transition: var(--transition-default);
}

.sidebar-icons:hover {
  fill: #90A4AE;
}

.logo-text {
  display: none;
}
