/* widgets-cards.css (unifica estilos de boletos, cotações e tarefas) */

.widget-card {
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  padding: var(--padding-default);
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  gap: 1rem; /* 16px */
  overflow: hidden;
  justify-content: space-between;
}

.widget-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.widget-title {
  font-family: var(--font-subtitle);
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-title);
  color: var(--primary-color);
}

.widget-lista {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem; /* 12px */
  flex: 1;
  overflow-y: auto;
  min-height: 0;
}

.widget-linha-lateral {
  width: 0.2rem; /* 4px */
  height: 100%;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  margin-right: 0.2rem;
}

.widget-cliente {
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: var(--font-weight-title);
  font-size: 1rem;
}

.widget-etapa {
  font-size: var(--font-size-body);
}

.widget-conteudo {
  display: flex;
  flex-direction: column;
}

.widget-item {
  background-color: var(--secondary-color);
  padding: var(--padding-default);
  border-radius: var(--border-radius);
  display: flex;
  gap: 0.25rem;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  
}

.widget-item-task {
  background-color: #E5EEFA;
  padding: var(--padding-default);
  border-radius: var(--border-radius);
  display: flex;
  gap: 0.25rem;
  align-items: start;
  flex-direction: column;
  /* max-height: 5rem; */
  cursor: pointer;
}

.widget-item-header {
  display: flex;
  justify-content: space-between;
  font-weight: var(--font-weight-subtitle);
  color: var(--text-color);
  font-size: var(--font-size-body);
  font-family: var(--font-body);
  flex-direction: column;
}

.widget-item-description {
  font-size: var(--font-size-body);
  font-family: var(--font-body);
  color: var(--text-color);
  opacity: 0.7;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.widget-status {
  font-size: var(--font-size-body);
  color: #666;
  text-align: left;
}

.widget-value {
  font-weight: bold;
  font-size: var(--font-size-subtitle);
}

.widget-line {
  width: 0.25rem;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  margin: 0.5rem 0 0.5rem 0;
}

/* Status visuais para boletos */
.widget-item.vencido,
.widget-item.vermelho {
  background-color: #fcd4d4;
  color: var(--fail-color);
}

.widget-item.laranja {
  background-color: #ffe7c2;
  color: #D77300;
}

.widget-item.amarelo {
  background-color: #fff6c2;
  color: #DAB400;
}

.widget-item.verde {
  background-color: #d4fcd9;
  color: var(--sucess-color);
}

.widget-item.branco {
  background-color: #F4F4F4;
}

.widget-item.undefined {
  background-color: var(--table-body-bg);
}

.widget-item.branco, .widget-item.verde, .widget-item.laranja, .widget-item.amarelo, .widget-item.vencido,
.widget-item.vermelho, .widget-item.undefined {
  justify-content: space-between;
}

/* Botões gerais dentro dos cards */
.widget-action {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  font-family: var(--font-subtitle);
  font-size: var(--font-size-body);
  color: var(--primary-color);
  cursor: pointer;
  transition: var(--transition-default);
  padding: 0;
}

.widget-action:hover {
  text-decoration: underline;
}

.widget-button {
  border-radius: var(--border-radius);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-default);
  color: var(--primary-color);
  fill: var(--primary-color);
  font-weight: var(--font-weight-subtitle);
  cursor: pointer;
}

.widget-embed {
  flex: 1;
  overflow: hidden;
  border-radius: var(--border-radius);
  position: relative;
}

#widget-embed {
  padding: 0;
}

.widget-embed iframe {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  border: none;
}

.widget-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .widget-card {
    padding: 1rem;
    max-height: 40vh;
    scroll-behavior: smooth;
  }

  .boleto-button {
    display: none;
  }

  #boletos-abertos {
    max-height: 100vh;
  }

  .widget-title {
    font-size: 1rem;
  }

  .widget-item,
  .widget-item-task {
    flex-direction: column;
    align-items: flex-start;
  }

  .widget-item-description {
    font-size: 0.85rem;
  }

  .widget-value {
    font-size: 1rem;
  }

  .widget-button {
    width: 100%;
  }
}