.editar-cotacao-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 24px;
  padding: var(--padding-default);
  background-color: var(--background-color);
}

.etapas-cotacao-card {
  grid-column: span 4;
  grid-row: span 8;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  padding: var(--padding-default);
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: var(--box-shadow-default);
}

.etapa-botao {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: var(--border-radius);
  border: 2px dashed var(--primary-color);
  cursor: pointer;
  background-color: var(--white-color);
  transition: var(--transition-default);
}

.etapa-botao.concluida {
  background-color: #e6f4ea;
  border-color: var(--sucess-color);
  font-weight: bold;
}

.etapa-numero {
  background-color: var(--primary-color);
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.etapa-botao.concluida .etapa-numero {
  background-color: var(--sucess-color);
}

.etapa-nome {
  font-family: var(--font-subtitle);
  font-size: var(--font-size-body);
  color: var(--text-color);
}

.formulario-cotacao-card {
  grid-column: span 8;
  grid-row: span 8;
  background-color: white;
  border-radius: var(--border-radius);
  padding: var(--padding-default);
  box-shadow: var(--box-shadow-default);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formulario-cotacao-card h2 {
  font-family: var(--font-title);
  font-size: var(--font-size-title);
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 8px;
}

.linha-info {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-body);
  font-size: var(--font-size-body);
  color: var(--text-color);
}

.grupo textarea {
  width: 100%;
  padding: 12px;
  border-radius: var(--border-radius);
  border: 1px solid var(--input-border);
  font-family: var(--font-body);
  font-size: var(--font-size-body);
  resize: vertical;
  min-height: 120px;
}

.formulario-cotacao-card button {
  align-self: flex-end;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-family: var(--font-subtitle);
  font-weight: var(--font-weight-title);
  font-size: 16px;
  cursor: pointer;
  transition: var(--transition-default);
}

.formulario-cotacao-card button:hover {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow-default);
}
