.home {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: var(--background-color);
  overflow-x: hidden; /* ✅ permite scroll vertical mas evita que a sidebar saia da tela */
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  margin-left: 5rem; /* 80px */
  background-color: var(--background-color);
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.layout {
  display: flex;
  height: 100vh;
}

.footer {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: var(--font-size-body);
  padding: 0 var(--padding-default);
  text-align: right;
  height: 5%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-auto-rows: 1fr;
  gap: 1rem;
  padding: var(--padding-default);
  flex: 1;
  overflow-y: auto;
  min-height: 0;
}

/* Cards (Dashboard) */

.cotacoes-card,
.boletos-card,
.tarefas-card,
.status-card {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
}

.cotacoes-card {
  grid-column: span 4;
  grid-row: span 8;
}

.boletos-card {
  grid-column: span 4;
  grid-row: span 4;
}

.tarefas-card {
  grid-column: span 4;
  grid-row: span 4;
}

.status-card {
  grid-column: span 8;
  grid-row: span 4;
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
  }

  .main {
    margin-left: 0;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    padding-top: 3.5rem;
  }

  .cotacoes-card,
  .boletos-card,
  .tarefas-card,
  .status-card {
    grid-column: auto;
    grid-row: auto;
    width: 100%;
  }

  .status-card {
    display: none;
  }

  .botao-menu-mobile {
    z-index: 1100; /* maior que a sidebar (1000) */
  }
}