.lista-page-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    flex: 1;
  }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 24px;
  }
  
  .botoes {
    display: flex;
    gap: 24px;
    white-space: nowrap;
  }


  .task-buttons {
    display: flex;
    gap: 12px;
    justify-content: flex-start;
    align-items: center;
  }
  .task-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 4px;
    transition: var(--transition-default);
  }

  .task-button:hover {
    transform: scale(1.1);
  }

  .boletos-abertos {
    grid-column: span 4;
    grid-row: span 8;
    background-color: var(--white-color);
    border-radius: var(--border-radius);
  }

  .boletos-vencidos, .faturamento-mensal {
    grid-column: span 8;
    grid-row: span 3;
    background-color: var(--white-color);
    border-radius: var(--border-radius);
  }

  .faturamento-boletos, .faturamento-cotacoes {
    grid-column: span 4;
    grid-row: span 2;
    background-color: var(--white-color);
    border-radius: var(--border-radius);
  }

