.lista-page-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    flex: 1;
  }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 24px;
  }
  
  .botoes {
    display: flex;
    gap: 24px;
    white-space: nowrap;
  }
  