  .criar-cliente-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 0;
    height: 100%;
    box-sizing: border-box;
  }
  
  .form-cliente {
    background-color: white;
    border-radius: 24px;
    padding: 32px;
    width: 100%;
    max-width: 720px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .form-cliente h2 {
    font-family: var(--font-title);
    font-size: 28px;
    font-weight: var(--font-weight-title);
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 16px;
    margin-top: 16px;
  }
  
  .linha {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
  
  .grupo {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 200px;
  }
  
  .grupo label {
    font-family: var(--font-subtitle);
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-subtitle);
    margin-bottom: 6px;
    color: var(--primary-color);
    margin-left: 12px;
  }
  
  .grupo label span {
    color: red;
    margin-left: 4px;
  }
  
  .grupo input {
    padding: 12px;
    border: 0px;
    border-radius: 8px;
    font-size: var(--font-size-body);
    font-family: var(--font-body);
    background-color: #f7f7f7;
    outline-color: var(--primary-color);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
  }

  .grupo input:focus {
    border: 1px solid #1B5E4B;
  }
  
  button[type="submit"] {
    align-self: flex-end;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-family: var(--font-subtitle);
    font-weight: var(--font-weight-title);
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: white;
    color: #1B5E4B;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border: 1px solid #1B5E4B;  
  }
  