:root {
  /* Fontes */
  --font-title: 'Comfortaa', sans-serif;
  --font-subtitle: 'Quicksand', sans-serif;
  --font-body: 'Quicksand', sans-serif;

  /* Tamanhos de fonte */
  --font-size-title: 1.5rem;         /* 24px */
  --font-size-subtitle: 1.125rem;    /* 18px */
  --font-size-body: 0.875rem;        /* 14px */

  /* Pesos de fonte */
  --font-weight-title: 700;
  --font-weight-subtitle: 500;
  --font-weight-body: 300;

  /* Cores principais do Beanflow */
  --primary-color: #1B5E4B;
  --secondary-color: #F5F5F5;
  --accent-color: #FFB703;
  --text-color: #212121;
  --background-color: #ebebeb;
  --white-color: #FFFFFF;
  --sucess-color: #47B249;
  --fail-color: #FF0000;
  --active-color: #9ACCEC;

  /* Cores adicionais */
  --input-background: #f0f0f0;
  --input-border: #ccc;
  --table-header-bg: #ffffff;
  --table-body-bg: #f3f3f3;
  --table-border: #e0e0e0;

  /* Layout e espaçamento */
  --border-radius: 0;            /* 12px */
  --padding-default: 1rem;            /* 16px */
  --padding-cards: 1.5rem;            /* 24px */
  --margin-default: 1rem;             /* 16px */
  --container-max-width: 75rem;       /* 1200px */

  /* Sombreamento */
  --box-shadow-default: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.08); /* 0 4px 20px */

  /* Outros */
  --transition-default: all 0.3s ease;
}
